<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Task</title>
</head>
<body>
<form  class="main-form" method="post">
    <label class="main-form__label" for="start-date-task">Inicio de Tarea</label>
    <input class="main-form__input" id="start-date-task" type="date">
    <label class="main-form__label" for="date-completion-task">Fin de la tarea</label>
    <input class="main-form__input" id="date-completion-task" type="date">
    <label class="main-form__label" for="form-description"> Descripcion </label>
    <textarea class="main-form__textarea" id="form-description" name="description" cols="40" rows="10"></textarea>
    <label class="main-form__label" for="save">
        <input class="button" id="save" type="submit" value="Agregar">
    </label>
</form>
</body>
</html>